<!DOCTYPE html>
<html>
<head>
  <title>Rotten Mangoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class='container is-center'>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value) %>
    <% end %>
  <%= yield %>
  </div>
</body>
</html>